David Schmidt <davewood@cpan.org> <davewood@gmx.at>
David Schmidt <davewood@cpan.org> <dt@univie.ac.at>
David Schmidt <davewood@cpan.org> <mail@davidschmidt.at>
Diego Kuperman <diego@freekeylabs.com>
Daisuke Maki <dmaki@cpan.org> <lestrrat+github@gmail.com>
Gerda Shank <gshank@cpan.org> <gerda.shank@gmail.com>
Gerda Shank <gshank@cpan.org> <gshank@Gerdas-iBook.local>
Gerda Shank <gshank@cpan.org> <gshank@andLinux.(none)>
Gerda Shank <gshank@cpan.org> <gshank@campusexplorer.com>
Gerda Shank <gshank@cpan.org> <gshank@dev.arxiv.cornell.edu>
Gerda Shank <gshank@cpan.org> <gshank@gerdashnksmini2.(none)>
Gerda Shank <gshank@cpan.org> <gshank@localhost.localdomain>
John Napiorkowski <jjnapiork@cpan.org> <johnn@John-Napiorkowski-MacBook-Pro.local>
John Napiorkowski <jjnapiork@cpan.org> <johnn@new-host-2.home>
José Joaquín Atria <jjatria@cpan.org> <j.atria@cv-library.co.uk>
José Joaquín Atria <jjatria@cpan.org> <jjatria@gmail.com>
Matthias Dietrich <perl@rainboxx.de> <foo@rainboxx.de>
Matthias Dietrich <perl@rainboxx.de> <perl@rb.ly>
Murray <murray@minty.org>
Toby Corkindale <cpan@dryft.net>
Toby Corkindale <cpan@dryft.net> <tjc@wintrmute.net>
Toby Corkindale <cpan@dryft.net> <tobyc@strategicdata.com.au>
Tomas Doran <bobtfish@bobtfish.net>
Tomas Doran <bobtfish@bobtfish.net> <t0m@state51.co.uk>
Tomas Doran <bobtfish@bobtfish.net> <t0m@state51.co.uk>
Vladimir Timofeev <vovkasm@gmail.com> <vovkasm@vovnb.(none)>
Zbigniew Lukasiak <zbigniew@lukasiak.name> <zby@cpan.org>
Zbigniew Lukasiak <zbigniew@lukasiak.name> <zby@dorotka-pc.(none)>
Zbigniew Lukasiak <zbigniew@lukasiak.name> <zby@zby.aster.net.pl>
